@using Microsoft.AspNetCore.Identity
@using cimobgrupo2.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CIMOB</title>

    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/styles/main.css">

    <script src="~/lib/jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

</head>
<body>
    <img id="logo" src="~/images/logo.png" alt="logo" />
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav custom">
                    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-plane"></span> Programas</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-paperclip"></span> Minha Candidatura</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Manage")"><span class="glyphicon glyphicon-user"></span> @UserManager.GetUserName(User)</a></li>
                    <li><a href="#" onclick="logoutForm.submit();"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
    </form>
    <div class="container-fluid" id="conteudo">
        @RenderBody()
    </div>
</body>
</html>
