@using Microsoft.AspNetCore.Identity
@using cimobgrupo2.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <img src="~/images/user.png" />Nuno Pedro (<a href="#" onclick="logoutForm.submit();"id="sair">Sair</a>)
    </li>
}