* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    /*background: url("../images/bg1.jpg");*/
    font-family: "Helvetica", Times, serif;
}

#topo {
    margin: 0 15%;
}

#topo h1 {
    float: left;
    line-height: 117px;
    font-size: 40px;
}

#logo {
    float: right;
}

#autenticacao {
    background-color: #efefe7;
    clear: both;
    height: calc(100% - 157px);
}

#autenticacao img {
    max-width: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.container {
    margin-top: 3%;
    z-index: 1000;
    position: relative;
}

.form-control {
    padding: 18px;
}

.username {
    background: white url("../images/user2.png") no-repeat scroll 7px 7px;
    padding: 18px 40px;
}

.password {
    background: white url("../images/pw.png") no-repeat scroll 7px 7px;
    padding: 18px 40px;
}

button {
    width: 100%;
    background-color: #496886;
    color: white;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 2px;
}

button:hover {
    opacity: 0.8;
}


#outros {
    margin-top: 5px;
    color: black;
    text-align: center;
}

#outros a {
    text-decoration: none;
    color: black;
}

#outros a:hover {
    opacity: 0.8;
}

@media(max-width:720px) {
    #autenticacao {
        height: calc(100% - 304px);
    }

    #autenticacao img {
        display: none;
    }

    #logo {
        float: left;
    }
}