* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    /*background: url("../images/bg1.jpg");*/
    font-family: "Segoe UI", Times, serif;
}

#logo {
    margin-left: 25px;
}

.navbar {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

    .navbar .container-fluid {
        background-color: #496886;
    }

.navbar-nav li a {
    color: white !important;
}

    .navbar-nav li a:hover {
        color: black !important;
    }

#conteudo {
    margin: 0 13px;
    margin-top: -15px;
}

#conteudo h1 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2d2d2d;
    margin-bottom: 20px;
}

#conteudo .sec-title {
   font-size: 16px;
}

button, .button {
    background-color: #496886;
    color: white;
    padding: 10px 18px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid black;
    margin-left: 5px;
    text-decoration: none;
}

button:hover, .button:hover {
        opacity: 0.8;
        text-decoration: none;
        color: white;
    }

fieldset {
    position: relative;
    border: 1px solid black;
    width: 100%;
    padding-top: 20px;
}

    fieldset legend {
        position: absolute;
        top: -12px;
        font-size: 14px;
        font-weight: bold;
        width: auto;
        border: 0;
        margin-left: 20px;
        padding: 0 15px;
        background-color: white;
    }

.icon {
    width: 20px;
    height: 20px;
}

    .icon:hover {
        opacity: 0.8;
    }

.help {
    float: right;
    margin-top: 20px;
    cursor: pointer;
}

.tooltip-inner {
    max-width: 300px;
    padding: 10px 15px;
    text-align: left;
}

thead {
    background-color: #dddddd;
}

.left-info {
    font-size: 16px;
    margin-top: 2px;
}

#table-info td {
    padding-bottom: 8px;
    padding-right: 10px;
}

.botoes {
    margin-top: 20px;
}

textarea {
    resize: vertical;
}