@{
    Layout = "~/Views/Shared/_LayoutAutenticacao.cshtml";
    ViewData["Titulo"] = "Registo";
}

@{
    if (ViewData["Error_Code"] == null)
    {
        <div>
            <p>
                Obrigado por ativar a sua conta. Clique <a href="@Url.Action("Login", "Account")"> aqui </a> para fazer login.
            </p>
        </div>
    }
}


