@{
    Layout = "~/Views/Shared/_LayoutAutenticacao.cshtml";
    ViewData["Titulo"] = "Recuperar Password";
}

<div>
    <p>
        Por favor dirija-se ao seu e-mail para recuperar a password.
    </p>
</div>
