@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAutenticacao.cshtml";
    ViewData["Topo"] = "Recuperar Password";
}

        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" data-toggle="tooltip" data-placement-md="right" data-placement-xs="top" title="@ViewData["Email"]"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit">Recuperar</button>
            </div>
        </form>
<div class="form-group">
    <button onclick="location.href='@Url.Action("Login", "Account")'">Cancelar</button>
</div>
        
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
