@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "~/Views/Shared/_LayoutAutenticacao.cshtml";
    ViewData["topo"] = "Autenticação";
}

<p>@TempData["Message"]</p>
<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <input asp-for="Username" id="username" type="text" placeholder="Username"> <br />
    <input asp-for="Password" id="password" type="password" placeholder="Password"> <br />
    @Html.DisplayNameFor(m => m.RememberMe) <input asp-for="RememberMe" id="rememberme" />
    <button type="submit">Login</button>
</form>

<div id="outros">
    <a href="~/Account/Register">Registar</a>
    &#9679;
    <a href="#">Recuperar Password</a>
</div>
