@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "~/Views/Shared/_LayoutAutenticacao.cshtml";
}

<p>@TempData["Message"]</p>
<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div class="form-group">
        <input type="text" asp-for="Username" placeholder="Username" class="form-control username">
    </div>
    <div class="form-groups">
        <input type="password" asp-for="Password" placeholder="Password" class="form-control password">
    </div>
    <div class="checkbox">
        <label><input type="checkbox" asp-for="RememberMe"> @Html.DisplayNameFor(m => m.RememberMe)</label>
    </div>

        <button type="submit" >Login</button>
</form>

<div id="outros">
    <a href="~/Account/Register">Registar</a>   
    &#9679;
    <a href="@Url.Action("ForgotPassword","Account")">Recuperar Password</a>
</div>
