@model RegisterViewModel

@{
    Layout = "~/Views/Shared/_LayoutAutenticacao.cshtml";
    ViewData["topo"] = "Registo";
}

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <input asp-for="Nome" type="text" placeholder="Nome Completo" name="nome"> <br />
    <input asp-for="DataNascimento" type="text" placeholder="Data de Nascimento" onfocus="(this.type='date')" name="datanascimento"> <br />
    <input asp-for="Email" type="text" placeholder="Email" name="email"> <br />
    <input asp-for="Contato" type="text" placeholder="Contato" name="contato"> <br />
    <br />
    <input asp-for="Username" id="username" type="text" placeholder="Username"> <br />
    <input asp-for="Password" id="password" type="password" placeholder="Password"> <br />
    <input asp-for="ConfirmPassword" id="password" type="password" placeholder="Confirmar Password"> <br />
    <button type="submit">Registar</button>
</form>
    <button onclick="location.href='@Url.Action("Login", "Account")'">Cancelar</button>
