@{
    Layout = "~/Views/Shared/_LayoutAutenticacao.cshtml";
    ViewData["Topo"] = "Recuperar Password";
}

<div>
    <div class="alert alert-success">
        <strong>Sucesso!</strong><br /> A sua password foi alterada. Clique <a href="@Url.Action("Login", "Account")"> aqui </a> para fazer login.
    </div>
</div>
